{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}
{% block stylesheets %}
<link href="assets/css/admin.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block body %}
<form action="" method="post" enctype="multipart/form-data">
    <table>
        <tr><td valign="top"><label for="url">Url de destino</label></td><td><input name="url" id="url" type="text" value="{{url}}" placeholder="Url"></td></tr>
        <tr><td valign="top"><label for="header">Título del header</label></td><td><input name="header" id="header" type="text" value="{{header}}" placeholder="Header"></td></tr>
        <tr><td valign="top">Imagen header</td><td>{% if header_image is null %}<img src="{{default_image}}" height="150">{% else %}<img src="{{header_image}}" height="150">{% endif %}</td></tr>
        <tr><td valign="top"><label for="img_cacebecera">Nueva imagen header</label></td><td><input name="img_cabecera" id="img_cabecera" type="file"></td></tr>
        <tr><td valign="top"><label for="text_section_1">Texto sección 1</label></td><td><textarea name="text_section_1" id="text_section_1">{{section1}}</textarea></td></tr>
        <tr><td valign="top"><label for="text_section_2">Texto sección 2</label></td><td><textarea name="text_section_2" id="text_section_2">{{section2}}</textarea></td></tr>
        <tr><td valign="top"><label for="text_section_3">Texto sección 3</label></td><td><textarea name="text_section_3" id="text_section_3">{{section3}}</textarea></td></tr>
        <tr><td></td><td><button type="submit">Guardar</button></td></tr>
    </table>
</form>
{% endblock %}
