{% extends 'base.html.twig' %}

{% block title %}Hello CustomUrlsController!{% endblock %}

{% block body %}
<header>
<img src="{{header_image}}" height="100">
<h1>{{header_text}}</h1>
</header>
<section>{{section1}}</section>     
<section>{{section2}}</section>
<section>{{section3}}</section>
{% endblock %}
